[submodule "frontend"]
	path = frontend
	url = git@github.com:gardusig/animated-games-frontend.git
[submodule "wasm"]
	path = wasm
	url = git@github.com:gardusig/animated-games-wasm.git
[submodule "backend"]
	path = backend
	url = git@github.com:gardusig/animated-games-backend.git
[submodule "docs"]
	path = docs
	url = git@github.com:gardusig/animated-games-docs.git
[submodule "catalog"]
	path = catalog
	url = git@github.com:gardusig/animated-games-catalog.git
